---
const pageTitle = "About Me";
import BaseLayout from '../layouts/BaseLayout.astro';

var foods =[];
foods[0] = {
  name: "капуста",
  dish: "борщ"
}
foods[1] = {
  name: "картошка",
  dish: "борщ"
}
foods[2] = {
  name: "мясо",
  dish: "борщ"
}
foods[3] = {
  name: "капуста",
  dish: "голубцы"
}
foods[4] = {
  name: "рис",
  dish: "голубцы"
}
foods[5] = {
  name: "мясо",
  dish: "голубцы"
}
var uniqueDishes = [];
var dishes = [];
foods.forEach((food)=>{
  dishes = [...dishes, food.dish];
});
uniqueDishes = dishes.filter((element, index) => dishes.indexOf(element) === index);
Источник: https://uchet-jkh.ru/i/kak-ubrat-iz-massiva-povtoryayushhiesya-elementy-v-javascript

---
<BaseLayout >
    <!-- <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a> -->
    <!-- <box-icon type="solid" name="moon" class="fill-current"></box-icon>
    <box-icon type="solid" name="hot"></box-icon>
    <box-icon type="logo" name="facebook-square"></box-icon> -->

		<!-- <h1>About me</h1> -->
    <h1>{pageTitle}</h1>
    <div>
      <p>Мои продукты:</p>
        <ul>
          {foods.map((food) => <li>{food.name}  {food.dish}</li>)}
        </ul>
        <p>Мои блюда:</p>
        <ul>
          {uniqueDishes.map((dish) => <li>{dish}</li>)}
        </ul>
    </div>
    <h2>... and my new Astro site!</h2>
    <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
    <div x-data="{ count: $persist(0) }">
      <button x-on:click="count++">Increment</button>
   
      <span x-text="count"></span>
    </div>
    <!-- <div x-data="{ open: false }">
      <button @click="open = ! open">Toggle</button>
   
      <div x-show="open" @click.outside="open = false">Contents...</div>
  </div> -->
  <div x-data="dropdown">
    <button @click="toggle">Toggle</button>
 
    <div x-show="open">Contents...</div>
  </div>
  
  <div x-data="search">
    <!-- x-data=`{
        search: '',
 
        items: ['foo', 'bar', 'baz'],
 
        get filteredItems() {
            return this.items.filter(
                i => i.startsWith(this.search)
            )
        }
    }` -->
<!-- > -->
    <input x-model="search" placeholder="Search...">
 
    <ul>
        <template x-for="item in filteredItems" :key="item">
            <li x-text="item"></li>
        </template>
    </ul>
</div>
    <div class="prose">
      { pageTitle }
    </div>
    <button class="btn btn-primary">Сохранить</button>
    <!-- <i class="bx bx-hot"></i>
    <i class="bx bxs-hot"></i>
    <i class="bx bxl-facebook-square"></i> -->
    <article class="prose">
      <h1>Garlic bread with cheese: What the science tells us</h1>
      <p>
        For years parents have espoused the health benefits of eating garlic bread with cheese to their
        children, with the food earning such an iconic status in our culture that kids will often dress
        up as warm, cheesy loaf for Halloween.
      </p>
      <p>
        But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
        springing up around the country.
      </p>
      <!-- ... -->
    </article>  
      


  <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

  <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
  <div x-data="{ foo: 'bob' }">
    <span x-text="foo"><!-- Will output: "bob" --></span>
</div>
<script>
  import Alpine from "alpinejs";
  import persist from "@alpinejs/persist";
  import dropdown from './dropdown.js';
  import search from './search.js';
  Alpine.plugin(persist);
  Alpine.data('dropdown', dropdown);
  Alpine.data('search', search)
    // document.addEventListener('alpine:init', () => {
    //     Alpine.data('dropdown', () => ({
    //         open: false,
 
    //         toggle() {
    //             this.open = ! this.open
    //         }
    //     }))
    // })
  Alpine.start();
</script>
</BaseLayout>

