---
const pageTitle = "About Me";
import BaseLayout from '../layouts/BaseLayout.astro';
const allDishes = await Astro.glob('../pages/foods/*.md');
const dishes = ['q','w','e'];
// const dishes = 'qwe';
---
<BaseLayout >
    <h1>{pageTitle}</h1>
    <div>
      <p>Мои продукты:</p>
        <!-- <ul>
          {allDishes.map(dish => <li>{dish.frontmatter.dish.name},{dish.frontmatter.dish.foods.map(food => <ul><li>{food}</li></ul>)}</li>)}
        </ul> -->
    </div>
   
    <script define:vars={{ allDishes }}>
      document.addEventListener("alpine:init", () => {
        Alpine.data("allDishes", () => ({
          get allDishes() {
            const arr_key = [];
            const arr_val = [];
            const arr_common = {};
            const len =allDishes.length;
            for(let key in allDishes) {
              // arr_key.push(allDishes[key].frontmatter.dish.name);
              // arr_val.push(allDishes[key].frontmatter.dish.foods);
              arr_common[allDishes[key].frontmatter.dish.name] = allDishes[key].frontmatter.dish.foods;
              alert(allDishes[key].frontmatter.dish.name);
            }
            return arr_common;
          },
        }));
      });
    </script>
  <div>
    <ul x-data="allDishes">
        <template x-for="d in allDishes"> -->
            <li x-text="d"></li>
        </template>
    </ul>
  </div>
    
<script>
  import Alpine from "alpinejs";
  import persist from "@alpinejs/persist";
  
  Alpine.plugin(persist);
  window["Alpine"] = Alpine;    
  Alpine.start();
</script>
</BaseLayout>

