---
const pageTitle = "About Me";
import BaseLayout from '../layouts/BaseLayout.astro';
const allDishes = await Astro.glob('../pages/foods/*.md');
const dishes = ['q','w','e'];
// const dishes = 'qwe';
---
<BaseLayout >
    <h1>{pageTitle}</h1>
    <div>
      <p>Мои продукты:</p>
        <!-- <ul>
          {allDishes.map(dish => <li>{dish.frontmatter.dish.name},{dish.frontmatter.dish.foods.map(food => <ul><li>{food}</li></ul>)}</li>)}
        </ul> -->
    </div>
   
    <script define:vars={{ dishes }}>
      document.addEventListener("alpine:init", () => {
        Alpine.data("dishes", () => ({
          get dishes() {
            return dishes;
          },
        }));
      });
    </script>
    <ul x-data="dishes">
        <template x-for="dish in dishes">
            <li x-text="dish"></li>
        </template>
    </ul>
    
<script>
  import Alpine from "alpinejs";
  import persist from "@alpinejs/persist";
  
  Alpine.plugin(persist);
      
  Alpine.start();
</script>
</BaseLayout>

