---
const pageTitle = "About Me";
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
// const allDishes = await Astro.glob('../pages/foods/*.md');
const allDishes = await getCollection("foods");
// const dishes = ['q','w','e'];
// const dishes = 'qwe';
---
<BaseLayout >
    <h1>{pageTitle}</h1>
    <div>
      <p>Мои продукты:</p>
        <!-- <ul>
          {allDishes.map(dish => <li>{dish.data.dish.name}</li>)}
        </ul> -->
    </div>
   
    <script define:vars={{ allDishes }}>
      document.addEventListener("alpine:init", () => {
        Alpine.data("allDishes", () => ({
          get allDishes() {
            return allDishes;
          },
        }));
      });
    </script>
  <div x-data="allDishes">
        <template x-for="dish in allDishes"> 
          <div>
            <h2 x-text="dish.data.dish.name"></h2>
                <template x-for="food in dish.data.dish.foods">
                  <div>
                    <li x-text="food"></li>
                  </div>
                </template>
          </div>
        </template>
  </div>
    
<script>
  import Alpine from "alpinejs";
  import persist from "@alpinejs/persist";
  
  Alpine.plugin(persist);
  window["Alpine"] = Alpine;    
  Alpine.start();
</script>
</BaseLayout>

