---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Foods</title>
	</head>
	<!-- <script src="preline/dist/preline"></script> -->
	<script>import 'boxicons';</script>
	
	<body class="bg-gray-300">
		<a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

		<h1>Продукты</h1>
	</body>
</html>
