---
import "@fontsource-variable/inter";
import "../assets/css/global.css";

import { getCollection } from "astro:content";
import { sortDishes } from "../utils/helpers";

import Theme from "../components/Theme.astro";
import Lists from "../components/Lists.astro";

const recipes = sortDishes(await getCollection("recipes"))
.map((recipe) => ({
  data: recipe.data,
  slug: recipe.slug,
  body: recipe.body ? true : false,
}));
---

<html lang="ru" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Foods</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Theme />
        
    <Lists />
  </body>
</html>
<script>
  import "boxicons";
</script>
<script define:vars={{ recipes }}>
  document.addEventListener("alpine:init", () => {
    Alpine.data("recipes", () => ({
      get recipes() {
        return recipes;
      },
    }));
  });
</script>
<script src= "../assets/js/foods"></script>
