---
import "@fontsource-variable/inter";
import "../assets/css/global.css";

import { getCollection } from "astro:content";
import { sortDishes } from "../utils/helpers";

import Theme from "../components/Theme.astro";
import Lists from "../components/Lists.astro";

// const dishes = await getCollection("dishes");
const dishes = await sortDishes(getCollection("dishes"))
.map((dish) => ({
  data: dish.data,
  slug: dish.slug,
  body: dish.body ? true : false,
}));
---

<html lang="ru" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Foods</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Theme />
    <!-- <h1>Hello</h1> -->
    <div>
      <p>Мои блюда:</p>
        <ul>
          {sortDishes(dishes).map(dish => <li>{dish.data.name}</li>)}
        </ul>
    </div>
    
    <Lists />
  </body>
</html>
<script>
  import "boxicons";
</script>
<script define:vars={{ dishes }}>
  document.addEventListener("alpine:init", () => {
    Alpine.data("dishes", () => ({
      get dishes() {
        return dishes;
      },
    }));
  });
</script>
<script src= "../assets/js/foods"></script>
