---
import ListTitle from "./ListTitle.astro";
import ListEmpty from "./ListEmpty.astro";
---

<ListTitle title="Блюда" />

<template x-for="dish in dishes" :key="dish.slug">
  <div>
    <div class="flex justify-between item-center gap-4">
      <span x-text="dish.data.name"></span>

      <button
        @click="toggleSelect(dish)"
        class="btn btn-sm btn-square btn-outline"
      >
        <box-icon name="plus" class="fill-current"></box-icon>
      </button>
    </div>
    <div class="divider my-1"></div>
  </div>
</template> 

<ListEmpty show="!dishes.length" text="Блюда не найдены" />

