---
import ListTitle from "./ListTitle.astro";
import ListEmpty from "./ListEmpty.astro";
---

<ListTitle title="Блюда" />

<template x-for="dish in dishes" :key="dish.slug">
  <div>
    <div class="flex justify-between item-center gap-4">
      <span x-text="dish.data.name"></span>
    </div>
    <div class="divider my-1"></div>
  </div>
</template> 

<ListEmpty show="!dishes.length" text="Блюда не найдены" />

