---
import DishesList from "./DishesList.astro";
---

<section class="_section">
  <div class="_container">
    <div>
      <div x-data="dishes">
        
        <DishesList />

      </div>
    </div>
</section>