---
import Navbar from "./Navbar.astro"
import DishesList from "./DishesList.astro";
---

<section class="_section">
  <div class="_container">
    <div>
      <div x-data="dishes">
        <Navbar />
        
        <div x-show="view === 'dishes'">
          <DishesList />
        </div>

      </div>
    </div>
</section>