<section class="_section">
  <div class="_container flex justify-center">
    <label class="flex cursor-pointer gap-2">
      <box-icon type="solid" name="moon" class="fill-current"></box-icon>
      <input type="checkbox" value="light" class="toggle theme-controller" />
      <box-icon type="solid" name="sun" class="fill-current"></box-icon>
    </label>
  </div>
</section>