---
const { pageTitle } = Astro.props;
// const { frontmatter } = Astro.props;
// const { title } = Astro.props
---

<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- <title>{ pageTitle }</title> -->
	</head>
	<!-- <script src="preline/dist/preline"></script> -->
	
	<body class="bg-gray-300">
		
	
		<!-- <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a> -->

		<!-- <h1>Продукты</h1>
    <h1>{pageTitle}</h1> -->
	<section class="_section">
		<div class="_container flex justify-center">
			<label class="flex cursor-pointer gap-2">
				<box-icon type="solid" name="moon" class="fill-current"></box-icon>
				<box-icon type="solid" name="hot" class="fill-current"></box-icon>
				<box-icon type="solid" name="sun" class="fill-current"></box-icon>
			</label>	
		</div>
	</section>
	<section class="_section">
		<div class="_container flex justify-center">
		<div class="inline-flex rounded-lg shadow-sm">
			<button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 -ms-px first:rounded-s-lg first:ms-0 last:rounded-e-lg text-sm font-medium focus:z-10 border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
				Блюда
			</button>
			<button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 -ms-px first:rounded-s-lg first:ms-0 last:rounded-e-lg text-sm font-medium focus:z-10 border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
				Меню
			</button>
			<button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 -ms-px first:rounded-s-lg first:ms-0 last:rounded-e-lg text-sm font-medium focus:z-10 border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
				Купить
			</button>
			<button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 -ms-px first:rounded-s-lg first:ms-0 last:rounded-e-lg text-sm font-medium focus:z-10 border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
				Отмена
			</button>
		</div>
		<slot />
		</div>
	</section>
	</body>
</html>
<script>import 'boxicons';</script>
