---
const { pageTitle } = Astro.props;
// const { frontmatter } = Astro.props;
// const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>
	</head>
	<!-- <script src="preline/dist/preline"></script> -->
	
	<body class="bg-gray-300">
		
	
		<a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

		<!-- <h1>Продукты</h1> -->
    <h1>{pageTitle}</h1>
		<box-icon type="solid" name="moon" class="fill-current"></box-icon>
    <box-icon type="solid" name="hot"></box-icon>
    <box-icon type="logo" name="facebook-square"></box-icon>
    <slot />
	</body>
</html>
<script>import 'boxicons';</script>
